<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://hackathon2023nl2api.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/8c2c7b23-848d-40fe-b817-690d79ad9dfd/resourceGroups/hophan-hackathon-2023/providers/Microsoft.Web/sites/HACKATHON2023NL2API</ResourceId>
    <UserName>$HACKATHON2023NL2API</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://hackathon2023nl2api.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>